openapi: 3.0.3
info:
  title: Laravel
  description: 'API Restfull Simplifies'
  version: 1.0.0
servers:
  -
    url: 'https://api2.simplifies.cl'
paths:
  /api/course:
    get:
      summary: index
      operationId: index
      description: 'Mostrar los cursos'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: es
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  course:
                    'id(ID del curso)': 6
                    'enrollment_id(ID de la academia)': 4
                    'name(nombre del curso)': 'Nuevo Prueba'
                    'description(descripción del curso)': kslfksf
                    'price(precio del curso)': 12000
                    'startDate(fecha de inicio del curso)': '2024-05-21'
                    'endDate(fecha de terminar del curso)': '2024-05-31'
                    'course_image(imagen del curso)': 'courses/6.jpg?$2024-07-22 13:23:01'
                    'total_enrollment(total de capacidades del curso)': 10
                    'available_slots(capacidades disponibles del curso)': 8
                    'reservation_price(precio de reservación del curso)': 12000
                    'duration(duración del curso)': 10
                    practical_percentage: 10
                    theoretical_percentage: 90
                    'enrollment(datos de la academia del curso)':
                      'id(ID de la academia)': 4
                      'business_id(ID del negocio)': 1
                      'name(nombre de la academia)': 'Academia Hernandez'
                      'description(descripción de la academia)': 'Cursos de barberia Básicos y avanzados'
                      created_at: '2024-03-25T09:30:12.000000Z'
                      updated_at: '2024-05-17T00:03:52.000000Z'
                      'location(localización de google map de la academia)': dwqdqwdwqqwqd
                      'image_data(imagen de la academia)': enrollments/4.jpg
                      'address(dirección de la academia)': qwwqwqdqwd
                      'phone(teléfono de la academia)': 56949879923
                properties:
                  course:
                    type: object
                    properties:
                      'id(ID del curso)':
                        type: integer
                        example: 6
                      'enrollment_id(ID de la academia)':
                        type: integer
                        example: 4
                      'name(nombre del curso)':
                        type: string
                        example: 'Nuevo Prueba'
                      'description(descripción del curso)':
                        type: string
                        example: kslfksf
                      'price(precio del curso)':
                        type: integer
                        example: 12000
                      'startDate(fecha de inicio del curso)':
                        type: string
                        example: '2024-05-21'
                      'endDate(fecha de terminar del curso)':
                        type: string
                        example: '2024-05-31'
                      'course_image(imagen del curso)':
                        type: string
                        example: 'courses/6.jpg?$2024-07-22 13:23:01'
                      'total_enrollment(total de capacidades del curso)':
                        type: integer
                        example: 10
                      'available_slots(capacidades disponibles del curso)':
                        type: integer
                        example: 8
                      'reservation_price(precio de reservación del curso)':
                        type: integer
                        example: 12000
                      'duration(duración del curso)':
                        type: integer
                        example: 10
                      practical_percentage:
                        type: integer
                        example: 10
                      theoretical_percentage:
                        type: integer
                        example: 90
                      'enrollment(datos de la academia del curso)':
                        type: object
                        properties:
                          'id(ID de la academia)':
                            type: integer
                            example: 4
                          'business_id(ID del negocio)':
                            type: integer
                            example: 1
                          'name(nombre de la academia)':
                            type: string
                            example: 'Academia Hernandez'
                          'description(descripción de la academia)':
                            type: string
                            example: 'Cursos de barberia Básicos y avanzados'
                          created_at:
                            type: string
                            example: '2024-03-25T09:30:12.000000Z'
                          updated_at:
                            type: string
                            example: '2024-05-17T00:03:52.000000Z'
                          'location(localización de google map de la academia)':
                            type: string
                            example: dwqdqwdwqqwqd
                          'image_data(imagen de la academia)':
                            type: string
                            example: enrollments/4.jpg
                          'address(dirección de la academia)':
                            type: string
                            example: qwwqwqdqwd
                          'phone(teléfono de la academia)':
                            type: integer
                            example: 56949879923
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  msg: 'Error al mostrar los cursos'
                properties:
                  msg:
                    type: string
                    example: 'Error al mostrar los cursos'
      tags:
        - Landing
      security: []
  /api/course-student-landing:
    post:
      summary: store_landing
      operationId: storeLanding
      description: 'Matricular estudiante al curso'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: es
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  msg: 'Estudiante matriculado correctamente al curso'
                properties:
                  msg:
                    type: string
                    example: 'Estudiante matriculado correctamente al curso'
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  msg: 'Error al matricular el estudiante al curso'
                properties:
                  msg:
                    type: string
                    example: 'Error al matricular el estudiante al curso'
      tags:
        - Landing
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                course_id:
                  type: numeric
                  description: 'id del curso'
                  example: '5'
                name:
                  type: string
                  description: 'nombre y apellido del estudiante'
                  example: 'Pepe Rosales Mora'
                phone:
                  type: string
                  description: 'teléfono del estudiante'
                  example: '+56912345678'
                email:
                  type: email
                  description: 'correo del estudiante'
                  example: ejemplo@gmail.com
                client_image:
                  type: string
                  format: binary
                  description: 'imagen del estudiante'
                fie:
                  type: string
                  format: binary
                  description: 'comprobante de pago'
              required:
                - course_id
                - name
                - phone
                - email
      security: []
tags:
  -
    name: Landing
    description: 'Endpoints de la landing'
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'Usted puede obtener su token usando unas credenciales válidas para el Endpoint <b>Login</b>.'
security:
  -
    default: []
